@model IEnumerable<ToDooly.Models.Entities.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-lg me-2">New Project</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Projects"
                           asp-action="Details"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-primary">
                            Tasks
                        </a>
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-secondary">
                            Edit
                        </a>
                        <form asp-action="Delete"
                              asp-route-id="@item.Id"
                              method="post"
                              class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
