@model IEnumerable<ToDooly.Models.ViewModels.LabelViewModel>

@{
    ViewData["Title"] = "Labels";
}

<h1>Labels</h1>

<p>
    <a asp-action="Create" class="btn btn-success">New Label</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>Owner</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OwnerName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                    |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    |
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
